@model IEnumerable<QuanLyHieuThuoc.Models.Entity.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.HoaDonId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
